/*serviços*/
.service-box{
    position: relative;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
}

.service-box:before{
    content: '';
    background-image: conic-gradient(
        #61b8ff 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 200%;
    position: absolute;
    left: -25%;
    top: -35%;
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.service-box::after{
    content: '';
    position: absolute;
    inset: 3px;
    background-color: rgb(0, 0, 0);

}

.box-title{
    position: relative;
    z-index: 10;
    font-size: 20px;
}

/*Hover*/
.hvr {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr:hover, .hvr:focus, .hvr:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}