.website-block
{
    position: relative;
}

.website-block::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    box-shadow: 1px 1px 5px #fff inset,
                -1px -1px 5px #5c5c5c inset;
    transition: transform .3s ease .3s,
                opacity .3s ease 0s;
    transform: translateX(0)
               translateY(0);
    z-index: -1;
}

.website-block:hover:before
{
    opacity: 1;
    transform: translateX(-20px)
               translateY(20px);
}

.website-block:hover
{
    transform: translateX(20px)
               translateY(-20px);
    z-index: 2;
}

.website-block:hover img
{
    box-shadow: 1px 1px 5px #fff,
                -1px 1px 5px #9b9b9b;
}

.website-block, .website-block img
{
    transition: .3s ease 0s;
}
