/*responsivo*/
@media (max-width: 768px) {

    /*Títulos*/
    .title{
        padding: 5px;
    }

    /*Banner*/
    .banner-image{
        height: 470px;
    }

    .banner-title{
        font-size: 25px;
        padding: 25%;
    }

    /*Serviços*/
    .box-title{
        font-size: 15px;
        text-align: center;
    }

    /*Sobre*/
    .card-text{
        font-size: 12px;
    }

    .group-image {
        height: 100%;
        width: 454px;
    }

    .about-content{
       height: 315px;
    }

    /*Sistema gestor*/
    .video {
        width: 620px;
        height: 345px;
    }

    /*Parceiros*/
    #carousel {
        margin: 0px 3rem 3rem 3rem;
        height: 375px;
    }

    /*Depoimentos*/
    .name-user{
        padding: 9px 0 0 50%;
        text-align: center;
        font-size: 12px;
    }

    .user-images{
       margin-left: 50%;
       margin-top: 10px;
    }

    .text-user{
        font-size: 12px;
    }

    /*Contato*/
    .contact{
        font-size: 17px;
    }

    /*Marcas*/
    .card-title{
        font-size: 28px;
    }

    .card-text{
        font-size: 16px;
    }

    /*Serviços*/
    .service-image {
        width: 91%;
        height: 395px;
    }

    .service-title{
        font-size: 20px;
    }

    .service-content{
        font-size: 16px;
    }
}
