@charset 'UTF-8';

body{
    margin:0;
    padding:0;
    height:100vh;
    background-color:#040404;
    font-family: 'Raleway', sans-serif;
}

/*Títulos*/
.title{
    margin: 5rem 0;
    text-align: end;
    border-bottom: 2px solid rgba(100, 100, 100, 0.342)
}

.title::first-letter{
    font-size: 4rem;
    font-weight: 600;
}


/*NavBar*/

.logo {
    height: 45px;
    width: 140px;
}

.navbar{
    background-color: rgb(255, 255, 255);
}

.nav-link{
    font-weight: 600;
}

/*Banner*/
.banner{
    height:100vh;
    color:#ffffff;
    text-align:center;
    width: 100%;
}

.banner-title{
    position:relative;
    top:30%;
}

.banner-title h1{
    font-weight:900;
    font-size:5em;
    margin:3rem 0 ;
    letter-spacing: 3px;
}

/*Serviços*/

#service{
    margin: 4rem 0 ;
}

.card-image{
    max-height: 200px;
}

.box-title{
    position: relative;
    z-index: 10;
    font-size: 20px;
}

.service-title{
    padding: 150px 50px 20px 50px;
}


.service-image{
    width: 75%;
    height: 450px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(100%);
}

/*Sobre*/

#about{
    padding: 5rem 1rem;  
    background-color: #fff;  
}

.about-title{
    text-align: center;
}

.group-image {
    height: 345px;
    width: 364px;
}

.about-content{
    height: 345px;
}


/*Parceiros*/

.partners-images{
    width: 100%;
}

#carousel{
    margin: 0 8rem 5rem 8rem;
    height: 550px;
}


/*Depoimentos*/

.user-images{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.name-user{
    padding-top: 20px;
    text-align: center;
}


/*Footer*/
#footer{
    margin: 30px 0 0 0 ;
}

.footer-icons {
    color: #000000;
    padding-right: 20px;
    font-size: 35px;
}

.logo-footer{
    max-width:100px;
    max-height:50px;
    width: auto;
    height: auto;
}

.footer-links{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.terms, .privacy{
    padding-top: 5rem;
    text-align: justify;
}

/*Seti*/

.seti-images {
    height: 300px;
    width: 400px;
}

.nav-scroller{
    padding: 75px 0 0 0;
}
